@"
SERVICEBUS_CONNECTION_STRING=
COSMOS_ENDPOINT=
COSMOS_KEY=
STORAGE_CONNECTION_STRING=
KEYVAULT_URL=https://frauddetectkv.vault.azure.net/
ML_INFERENCE_URL=
FRAUD_SCORE_THRESHOLD=0.5
"@ | Set-Content .env.example